[2017-11-08 00:23] rafbgarcia opened #2 "Not exactly sure how to properly integrate"
Hello again :)

I'm trying to integrate with phoenix and I feel like I did everything that the docs say, but am getting a `400 Bad Request`.

<img src="https://user-images.githubusercontent.com/1904314/32525754-1ac3821c-c40d-11e7-9049-cb61f6ed4b08.png" width="80%">

This is the relevant code (I believe...)

This is my JS code, I'm just trying to make it work at this point:

[code]

And this is my

[2017-11-08 01:55] benwilson512 commented on #2
See https://github.com/absinthe-graphql/absinthe_phoenix/issues/22

[2017-11-08 02:13] rafbgarcia commented on #2
Thanks @benwilson512, closing this issue.

FWIW [this was my problem](https://github.com/absinthe-graphql/absinthe_phoenix/issues/22#issuecomment-342685620)

[2017-11-08 02:13] #2 closed

[2017-11-08 03:24] tlvenn commented on #2
Btw, if you are using Angular, I suggest looking to the [apollo-angular](https://github.com/apollographql/apollo-angular/releases/tag/1.0.0-beta.0) which now supports apollo client 2.0 and apollo link that we support out of the box.

[2017-11-08 13:29] rafbgarcia commented on #2
@tlvenn thanks for the suggestion, I will go ahead and use it :)

[2017-11-08 15:21] rafbgarcia opened #3 "Missing js files in socket-apollo-link?"
Hello there, trying to integrate and got this error

![ionic_app](https://user-images.githubusercontent.com/1904314/32556851-ad15eab8-c487-11e7-8162-586dde68bef9.png)

Tried to find the file but it seems to be missing?

[code]

Thanks

[2017-11-08 15:49] mgtitimoli commented on #3
Hi @rafbgarcia, thanks for having set some time to report this issue.

We are about to release a new version which includes this fix.

[2017-11-08 17:40] bjunc opened #4 "Also working on WS link"
Hey guys,

I just pushed a websocket link for Apollo 2.0, and when I checked NPM to ensure it published, I saw your lib!  Seems like we're working on similar things, not sure if it'd make sense for me to help you guys out, merge code, etc..  Thought I'd throw it out there.

Here's the repo: [PhoenixWebSocketLink](https://github.com/bjunc/apollo-link-phx-ws).

[2017-11-08 19:34] mgtitimoli commented on #3
Fixed on Release 0.1.2

[2017-11-08 19:34] #3 closed

[2017-11-08 22:18] rafbgarcia opened #5 "The correct way to `cancel`"
I managed to successfully cancel my subscription from a channel, however the way I did it doesn't feel the proper way.

[code]

Before that I was trying to `cancel` using a `this.notifier` attr:

[code]

However in this case `this.notifier.subscriptionId` is `undefined`, hence having it fail on the server side.

Is this the way to go or am I missing something on the socket setup?

Thanks

[2017-11-08 22:50] mgtitimoli commented on #5
The latest version of notifier is passed to observers in the `onStart` handler, this one contains **subscriptionId** with the value returned from the server, so you should store it, and only cancel after having receiving this.

[2017-11-08 22:55] mgtitimoli commented on #5
We might add a way in the future to cancel in the meantime that is exactly the case you have.

This could set a flag in the notifier, so if it's true at the time subscription is established, then an unsubscribe is sent and notifier is removed once we get the ack from the server.

[2017-11-08 22:57] rafbgarcia commented on #5
Here you mean? It's coming back empty though.

<img width="862" alt="pedidos" src="https://user-images.githubusercontent.com/1904314/32579070-c741b5d6-c4c6-11e7-87bb-66ac13226614.png">

I can even receive messages after that point

<img width="752" alt="pedidos" src="https://user-images.githubusercontent.com/1904314/32579237-50460a26-c4c7-11e7-8480-085a61d8ed45.png">

[2017-11-08 23:01] mgtitimoli commented on #5
You are right, the updated notifier is not passed but the old one ([here](https://github.com/absinthe-graphql/absinthe-socket/blob/master/packages/socket/src/pushRequest.js#L28)).

I will fix this and release a new version.

[2017-11-08 23:08] rafbgarcia opened #6 "Fully working example"
@mgtitimoli I'm willing to submit a PR with my fully working example, would you like me to do that?

It's a real world use case, easy to understand and I believe could help people get started.

[code]

[2017-11-08 23:10] #5 closed

[2017-11-09 01:15] tlvenn commented on #6
Hi rafbgarcia,

As discussed in the other issue, it would be better for us to nudge people wanting to integrate with Angular / VueJs to use Apollo Client 2.X and our Apollo Link which is documented already.

We should definitely cover that in a guide but it will be hosted in our `guides` section on Absinthe project.

[2017-11-09 01:15] #6 closed

[2017-11-09 01:27] tlvenn commented on #6
Btw thanks for helping @mgtitimoli identify some bugs and creating an issue for them.

As far as the documentation goes, give us a little bit more time and we should be able to provide a clear path for people who want to integrate with their js framework or otherwise guidance on how to contribute some guides in that regard.

[2017-11-09 01:35] rafbgarcia commented on #6
No problem at all, y'all are the ones helping me here 😸  I can only thank you for helping me get  started :)

[2017-11-21 07:31] chengyin opened #8 "Unsubscribe some times do not send subscriptionId"
Sorry I haven't created a small reproducible case. Wanted to start the conversation first.

I'm using subscription with apollo. I am trying to unsubscribe with the function returned by apollo's `subscribeToMore`. I see that call get passed into socket-apollo-link. Inspecting the WS frames I see that no `subscriptionId` is sent with the majority of the requests:

<img width="1021" alt="screen shot

[2017-11-21 10:37] tlvenn commented on #4
Hey @bjunc,

Interesting timing ;) We have now released our JS integration with support for Apollo Link and Relay. We definitely welcome your feedback if you get a chance to either look at our code or use our Apollo Link.

You can find a good overview of the general direction of our lib in the [readme section](https://github.com/absinthe-graphql/absinthe-socket/blob/master/packages/socket/README.m

[2017-11-21 13:33] mgtitimoli commented on #8
Hi @chengyin,

Based on what you are saying, I understand that this doesn't happen all the time, but aleatory with some of them, right?

[2017-11-21 14:15] tlvenn commented on #8
@chengyin , Is there any chance you are trying to unsubscribe before having subscribed ?

[2017-11-21 20:44] chengyin commented on #8
Thanks for the quick responses!

First I do not believe I'm trying to unsubscribe before subscribing. Based on my understanding, the only time that could happen is when the server response is delayed:

1. subscription request sent to server, hasn't heard back
2. unsubscribe
3. server sent subscription confirmation

I don't think that was happening in my case.

Now, from my actual debugging. [This

[2017-11-21 21:04] mgtitimoli commented on #8
That code is OK @chengyin, as it's the one that handles the incoming data.

Subscriptions (as any other request) are sent using `pushRequest` module, and is in the succeed handler where the notifier is updated with the **subscriptionId** ([here](https://github.com/absinthe-graphql/absinthe-socket/blob/master/packages/socket/src/pushRequest.js#L26)).

What it should be happening (I'm currently work

[2017-11-21 21:15] chengyin commented on #8
Thanks. Setting a breakpoint at the line you pointed did show me that `subscriptionId` was set.

I think saving `notifier` is non trivial for me since I use the socket-apollo-link, and it doesn't expose those details. I will wait for your fix. Thank you!

[2017-11-21 23:45] chengyin commented on #8
Actually, in my further development I realized that `subscription:data` event is used when the server broadcast into an existing subscription. This means that on the client-side, only the subscription that have received data will have a `subscriptionId`. If you simply subscribe, and then unsubscribe. It will always fail.

[2017-11-27 02:49] #8 closed

[2017-11-30 00:46] G3z opened #10 "how to use setContext or other methods for setting the params"
Is it possible to use `import { setContext } from 'apollo-link-context';` to set the auth token ?
with `apollo-link-http` it's done as so:

[code]

i tried
[code]

but i couldn't set the connection params
since i'm on React Native i have to access `AsyncStorage` to get my token so i can't simply

[code]

[2017-11-30 01:24] tlvenn commented on #10
Hi @G3z, You have to be careful when you compose links as most of them have been designed with an http termination in mind (stateless) which is the case with `apollo-link-context`. Given the socket is stateful and params are passed only when you connect, you will have to drop and create a new socket on logout / login actions.

[2017-11-30 04:59] mgtitimoli commented on #10
Hi @G3z,

You will need to create a wrapper link on top socket-link to do this. It will have to be somekind of a memoized factory, where it will have to keep record of the latest credentials it received, and if the ones passed are the same as the stored, it could be able to reuse previously created socket-link, but if not, it will have to close the active one, and create a new one with the credent

[2017-11-30 06:13] #4 closed

[2017-12-06 23:32] chengyin opened #11 "Unsubscribe before server returns the subscription id"
Let's say I have a component with the following lifecycle events:

[code]

In certain cases this component may be mounted and unmounted quickly (dropdown menu on hover, or dialogs that get dismissed instantly). This may lead to the situation where `subscriptionId` hasn't been returned from the server before `this.unsubscribe` is called.

With Absinthe, this will generate a server side error.

I do

[2017-12-06 23:44] mgtitimoli commented on #11
Hi @chengyin,

Just to confirm, are you using absinthe-socket or any of the connector packages?

[2017-12-06 23:45] chengyin commented on #11
Actually let me emphasize that I’m not 100% sure if the quick unmounting is causing subscription id missing. But that’s one way to reproduce the issue.

And we are using the absinthe Apollo link.

[2017-12-06 23:57] mgtitimoli commented on #11
If you are using @absinthe/socket-apollo-link, then this should be handled automatically ([here](https://github.com/absinthe-graphql/absinthe-socket/blob/master/packages/socket-apollo-link/src/createAbsintheSocketLink.js#L32)).

Where did you see the error?

[2017-12-07 00:09] chengyin commented on #11
Sorry, this was an issue on our end. I updated to the newest version of absinthe link in our master branch but I was testing on a branch with older version.

With the new version I hasn't seen any issues yet.

Sorry about the false report!

[2017-12-07 00:09] #11 closed

[2017-12-07 00:11] mgtitimoli commented on #11
Great @chengyin, np, cheers.

[2017-12-12 17:11] Yamilquery commented on #10
I`ve been stuck for several days looking for a library that works correctly, I was recommended to use this one, but I can not manage to pass my token to do the authentication.

Could somebody give me an code example of that implementation that mention @mgtitimoli !

Thank you!

[2017-12-13 09:53] gjaldon opened #12 "Error reporting bugged"
I'm using apollo on the frontend and absinthe on the backend. I experienced an issue where I was submitting a mutation to the backend but it would not go through. I'd get a totally different unrelated error like:
![error](https://www.evernote.com/shard/s280/sh/68c5e1e3-d9be-4327-9cc6-896c3d8d6fba/393583b1bf9cd875/res/69e274bf-6731-4a6d-9a1a-75cf4cc2d541/skitch.png)

Turns out the actual error in t

[2017-12-13 23:38] G3z commented on #10
this is my dirty hack if anyone is interested

[code]
this way the token is checked upon each connection

[2017-12-14 00:12] Yamilquery commented on #10
It works great!

But what exactly does it get? ( get guardian_token() )

[2017-12-14 00:25] Yamilquery commented on #10
Ok, awesome.

Here is another option:

[code]

[2017-12-14 00:58] mgtitimoli commented on #10
Nice hack @G3z, but it won't reconnect to socket if auth changed.

The proper way to handle this would be to introduce an extra level of indirection, so instead of passing an instance of `phoenix.Socket` to `createAbsintheSocketLink`, it would have to receive a fn, and this fn would have to be executed with the context, so it would provide a way to check if it has or not changed for prev execution

[2017-12-14 01:00] mgtitimoli commented on #10
The way I've just commented will introduce a breaking change,  that's why I'm still doubting if it is the best way or we should create another factory fn for this cases.

[2017-12-19 21:27] Yamilquery commented on #10
Something new?

How can I implement this new layer that you comment?

[2017-12-27 19:05] ssomnoremac commented on #10
I'm using RelayModern and want to be able to set the params on each login and remove on logout. Can environment be a service (singleton) with a static factory function `init(params)` and a getter `get()`?
[gist here](https://gist.github.com/ssomnoremac/042c029769a80cfe0e58e1762b76e67e)
Not sure if this approach is necessary though it helps me to think about the current socket instance.

[2018-01-02 10:55] mtarnovan commented on #12
I'm seeing the same error, but in my case the subscription query is correct and there's no error on the backend.

[2018-01-05 00:45] jerelmiller opened #13 "subscriptionId not sent when disposing subscription"
Hello,

I am using @absinthe/socket with @absinthe/socket-relay packages and am having a hard time unsubscribing from the websocket.

I notice that when calling `dispose()` on the returned subscription from relay, it fails to send the `subscriptionId` to the phoenix. I see that the `subscriptionId` is coming back successfully upon connecting and that the `notifiers` array includes a notifier with

[2018-01-05 06:30] jerelmiller commented on #13
Seems to have fixed itself and I'm not entirely sure why. Maybe I had something misconfigured on the backend. I'll go ahead and close this unless I see something again.

[2018-01-05 06:32] jerelmiller commented on #13
False alarm. Its still happening (so sorry).

[2018-01-28 00:25] smithaitufe commented on #10
Hi @richeterre

This was how I managed to resolve my own
install `apollo-client`, `apollo-cache-inmemory`, `apollo-link-context` and `apollo-link-http`
then do this

[code]
It is working perfectly for me.

[2018-02-01 14:38] raarts commented on #10
@smithaitufe Nice solution but will this work for absinthe sockets as well? At the moment it [does not work for apollo-link-ws](https://github.com/apollographql/apollo-link/issues/446).

BTW: InMemoryCache is default for ApolloClient, so no need to specify that

[2018-02-01 16:12] mgtitimoli commented on #10
Hi everyone,

The most easy way to deal with this, is create a new link on top of the one provided here, that can keep in its internal state the last params received, so on each request it would be able to check if they remain the same or changed, reusing the previous instance of the absinthe-apollo-link, or creating a new one correspondingly.

I will expose this in the near future, I'm currently

[2018-02-06 14:50] octavonce opened #14 "Cannot read property "find" of undefined react-native"
Hello!

I am trying to set up subscriptions on a react-native app but i am receiving the following error:
![screen shot 2018-02-06 at 16 49 00](https://user-images.githubusercontent.com/20557383/35865659-c24dc866-0b5d-11e8-88eb-bafc791a9b45.png)

This is the subscription handler which works perfectly on the web side:
[code]

This is currently a blocker for us so any help would be appreciated.

[2018-02-06 15:10] octavonce commented on #14
I was returning a promise from the SubscriptionSocket constructor, sorry for posting the issue.

[2018-02-06 15:10] #14 closed

[2018-02-20 19:28] mgtitimoli commented on #12
This issue will be fixed on the next release that will be released on March, meanwhile I will attach below a stacktrace taken from the error on a release with sourcemaps:
[code]

[2018-02-28 18:20] ssomnoremac commented on #13
hey @mgtitimoli any update on this? We are getting within a few weeks of shipping so I don't know how much longer we can hold off on being able to dispose subscriptions. Let me know if I can help in any way.

[2018-03-01 16:25] raarts commented on #10
@mgtitimoli :

I understand the gist of what you are saying here, but I looked at the source code for `createAbsintheSocketLink`, and your definition of easy is definitely not the same as mine ;-)

[2018-03-06 18:23] mpoeter opened #15 "Two bugs when unsubscribing from subscription"
The socket-apollo-link automatically multiplexes multiple subscriptions, i.e., when I have several identical subscription-queries only one such query is sent over the socket. This query has an associated notifier, which in turn holds a a list of observers that will be notified when a corresponding subscription is received.

This is nice, but unfortunately there are two issues with the current impl

[2018-03-06 20:34] mgtitimoli commented on #15
Hi @mpoeter,

Thanks for having taken the time to report this.

The first issue you described is already handled, based on what you wrote, it seems that you might be calling cancel, instead of unobserve, could it be?

Regarding with the second one, I'm already aware of it, and I'm currently working on a release which will include code to handle this.

[2018-03-06 22:31] mpoeter commented on #15
Thanks for the quick reply @mgtitimoli

Actually the first issue still remains. We use the socket-apollo-link package which provides an Observable to observe incoming subscriptions. When the observable is no longer needed we call unsubscribe on it, but the unsubscribe function defined in `notifierToObservable` in `@absinthe/socket-apollo-link/src/createAbsintheSocketLink.js` itself calls `cancel`,

[2018-03-06 23:19] mgtitimoli commented on #15
oh, I see, I was reading the socket code directly without taking much into account what was going on in the apollo package, that within it is where the error is located.

In any case this border case will also be handled in the next release, as is exactly what I'm working on now, that's basically improve how cancellations are handled, great you made me notice about this, as I was only paying atten

[2018-03-07 07:31] mpoeter commented on #15
Sounds great! Thanks again for the prompt reply and the quick fix - much appreciated!

[2018-03-09 23:26] davidye opened #16 "relay-socket dipose() does not send subscriptionId"
When calling dispose(), the relay socket does not send a subscriptionId.

I tracked down the problem to this line:

https://github.com/absinthe-graphql/absinthe-socket/blob/05f7f2b9e8e7d5bcccbed07abf8fd8325db6891c/packages/socket-relay/src/createSubscriber.js#L24

When this dispose function is called, notifier.subscriptionId is still undefined.

Later on, onSubscriptionSucceed() is called and the

[2018-03-09 23:30] davidye commented on #16
Oops, this is a duplicate of https://github.com/absinthe-graphql/absinthe-socket/issues/13.

[2018-03-09 23:30] #16 closed

[2018-03-09 23:31] davidye commented on #13
I ran into this as well, here's some more context:

When calling dispose(), the relay socket does not send a subscriptionId.

I tracked down the problem to this line:

https://github.com/absinthe-graphql/absinthe-socket/blob/05f7f2b9e8e7d5bcccbed07abf8fd8325db6891c/packages/socket-relay/src/createSubscriber.js#L24

When this dispose function is called, notifier.subscriptionId is still undefined.

[2018-03-24 17:06] bruce opened #18 "Authentication examples"
We see questions about how, eg, tokens can be passed by clients to Absinthe. It would be useful to have code examples showing how this can be done for the various socket incarnations, across HTTP & WS.

[2018-03-26 03:40] ssomnoremac commented on #18
@bruce I can show how I handled it in Relay Modern. I'm not sure the client example makes sense outside the context of the elixir code. But I'll see what I can do. Where should I put it?

[2018-04-12 10:36] aksonov opened #19 "Upgrade to latest apollo-client, zen-observable?"
zen-observable 0.6.0 and other used libraries are outdated, could you upgrade or at least use ^0.6.0 instead of 0.6.0 ?

Following happens if a client sends invalid graphql query to the server (and the server returns 'error' response):
![simulator screen shot - iphone 7 - 2018-04-10 at 09 54 56](https://user-images.githubusercontent.com/1321329/38672300-0ceab096-3e4e-11e8-8721-8f3eef5c516e.png)

[2018-04-14 13:13] raarts commented on #10
@mgtitimoli Any news on when the new release is expected?

[2018-04-22 01:59] JesusPuga commented on #12
I have a similar problem
has this issue some advance o some temporal solution?

[2018-04-23 23:15] southerneer commented on #12
Any word on that March release?

[2018-04-24 17:13] mgtitimoli commented on #12
Hi everyone,

The new version should be released soon, unfortunately the past 2 months I haven't had enough time to move forward with it as we are in the last phase of the product for the company I work for and support my time on absinthe.

I will be able to proceed with the release once we ship the product, and this should be in the next month or so.

My apologies to everyone.

[2018-04-27 01:55] English3000 opened #21 "SyntaxError: export declarations may only appear at top level of a module"
[Repo](https://github.com/English3000/Elixir/tree/master/Phoenix/Absinthe/hackernews)

[code]

Literally copied & pasted `environment.js` & `absinthe.js` code from "Craft GraphQL APIs in Elixir with Absinthe" source code.

In the book, they put the frontend in a separate repo.

[2018-04-27 06:16] English3000 commented on #21
Update: I got my app to render by commenting out my entire `environment.js`

[code]

Also, `react-router-native` has the same issue. From what I've gleaned through searches, the issue may have to do with Babel 6 not transpiling the `import` statements nested within functions..?

Regardless, I still need a fix so I can use `createFetcher` and `createSubscriber`

[2018-04-27 06:36] English3000 commented on #21
Tried

[code]

Doesn't work

[2018-04-27 17:01] English3000 commented on #21
In Google Chrome, the error (for this exact same issue) is

Uncaught SyntaxError: Unexpected token export

[2018-04-27 22:58] English3000 commented on #21
To the best of my knowledge, this issue is being caused by how `babel-brunch` compiles your `/src/index.js`

I have opened an issue with them: https://github.com/babel/babel-brunch/issues/66

[2018-04-27 23:48] mgtitimoli commented on #21
I guess the issue you are experiencing is because of this [line](https://github.com/absinthe-graphql/absinthe-socket/blob/master/packages/socket-relay/package.json#L6), there it should point to `"compat/cjs/index.js"` as the other packages...

Don't you mind trying to import from `@absinthe/socket-relay/compat/cjs`, and tell me how it went?

[2018-04-28 00:05] English3000 commented on #21
IT WORKED!!!!!

[2018-04-28 00:05] #21 closed

[2018-04-28 00:14] mgtitimoli commented on #21
Great @English3000!

I will add this to task I need to acomplish for the next release, thanks for having taken the time to report this!

Happy coding!

[2018-05-01 09:00] samphilipd opened #22 "Does not resubscribe on reconnect"
It seems that absinthe-socket is not resubscribing on reconnect if the websocket connection is interrupted.

Steps to reproduce:

1. Boot an absinthe server locally
2. Open a web page with absinthe-socket that successfully connects and subscribes
3. Ctrl-C the web server
4. Boot the web server again
5. Observe that the websocket reconnects, but the client does not re-subscribe any subscriptions

[2018-05-04 11:06] SjaufStefan commented on #10
Any update on this? I imagine there are more people saving their auth tokens in the asyncstorage so some solution for that is pretty pressing.

[2018-05-12 01:46] mgtitimoli commented on #19
Closing this one, as it's duplicate of #12.

(Thanks for reporting)

[2018-05-12 01:46] #19 closed

[2018-05-14 08:46] richeterre commented on #10
I tried following @mgtitimoli's advice of creating a "memoized factory" for `AbsintheSocketLink` instances, and ended up with this:

[code]

Note that I'm getting my auth token from the Redux store, not AsyncStorage, but the general pattern should be similar. Hope this helps others bridge the gap until there's a more "official" solution ☺️

[2018-05-17 20:32] nathanqueija commented on #12
Does this error prevent apollo's subscriptions from working?

[2018-05-18 08:12] MartinElvar opened #23 "Fail to send request through socket, instead tries to send normal POST request."
So i've set up my react project with Apollo & React, just after the book, i've followed the examples shown in the README. But i still can't get it to function, it does seem to connect to my Phoenix socket. but when ever i fire of a query it will simply send a post request instead.

This is my deps.

[code]

And my setup.

[code]
I stripped some unrelated code, for simplicity.

absintheSocketLink i

[2018-05-18 13:38] MartinElvar commented on #23
Seems like this error happened as i used Apollo-boosts, replacing it with apollo-client fixes the issue.

[2018-05-18 13:38] #23 closed

[2018-06-26 11:31] MikaAK commented on #12
What can I do to fix this?

[2018-07-17 09:44] krystofbe commented on #10
Thanks for your solution @richeterre!

This is how I did it with `async-storage` in react native

[code]

[2018-07-19 19:38] paintingwithcode opened #24 "Any way to stop requests on connection close?"
Hi, we're using sockets as our transport layer to connect to our Absinthe Schema on the server. We have an authentication module setup where if valid tokens aren't passed in to the socket params we deny the connection and attempt to close by returning an `:error` in the Phoenix Socket connect function.

The client acknowledges this error and does log a `connection: closed` error but this does not

[2018-07-25 09:41] mpoeter commented on #15
*push*

Is anybody still maintaining this repository?

[2018-08-01 04:45] markkanof commented on #12
Any updates on this? I'm running into this issue, that seems to be triggered when called resetStore on my Apollo client.

[2018-09-15 01:48] sheharyarn commented on #18
@ssomnoremac If there are just a couple of files, can you just post them here in the thread? Otherwise a link to a separate repo would be great. Thank you!

[2018-09-22 13:22] maio opened #25 "Example section in README - Using both HTTP & WS"
Hi there. I'm new to GraphQL so sorry for noob question (and creating issue here):

Would you guys mind explaining what's the reason for using both HTTP & WS as mentioned in 3. of Examples section?

Thanks!

[2018-10-09 20:40] rjacobskind commented on #12
@mgtitimoli Is there any update on this? I'm seeing this error frequently as well

[2018-10-10 14:42] rjacobskind commented on #12
I opened a PR to solve this and #15 . Please see below:
https://github.com/absinthe-graphql/absinthe-socket/pull/26

[2018-10-10 14:46] rjacobskind commented on #15
I opened PR #26 to solve this and issue #12  .
Thank you to @mpoeter for contributing!

[2018-10-15 18:44] cpursley commented on #18
I'd appreciate an example of using an auth token as well.

[2018-10-30 22:26] JonRowe opened #27 "Feature request, complete example documentation."
Hi, I'm new to this project and struggling to understand from the individual function docs how to use this. Is there a chance someone with better knowledge could complete the Readme with an example that actually connects to an absinthe server, sends a query (preferably a subscription) and does something with the response?

[2018-10-30 23:08] alukito commented on #27
Hi, I'm also new, but I find these examples to be working.

1. Setup the apollo client using this [apollo guide](https://www.apollographql.com/docs/react/essentials/get-started.html)
2. Change the ApolloClient implementation using @absinthe-socket/socket-apollo-link using the [readme](https://github.com/absinthe-graphql/absinthe-socket/blob/master/packages/socket-apollo-link/README.md). Note that

[2018-10-31 09:07] JonRowe commented on #27
@alukito Thanks but I'm not using Apollo, so I'm still looking for a complete example for the base socket implementation.

[2018-11-01 17:43] JonRowe commented on #27
Closing in preference to #28

[2018-11-01 17:43] #27 closed

[2018-11-12 09:45] erikreedstrom opened #29 "Error on config results in `Error: [object Object]`"
## Issue
When attempting to return unauthorized, the socket impl throws an error of the stringified errors map.

## Actual
[code]
Results in
[code]

## Expected

I'm not sure. It would seem one should get either an errors map similar to a normal operation, or the first message in the list of errors.

Is there some sort of error mapping middleware needed for subscriptions?

[2018-11-12 09:46] erikreedstrom commented on #29
This seems related to https://github.com/absinthe-graphql/absinthe-socket/pull/20

[2018-11-12 11:20] erikreedstrom commented on #29
The issue is here: https://github.com/absinthe-graphql/absinthe-socket/blob/master/packages/socket/src/pushRequest.js#L43

It seems this should check to see if the response is a map or a string, and call `gqlErrorsToString` in case of the former.

Possibly related to #20

[2018-11-16 14:04] rmoorman commented on #12
I can confirm that the patch in PR #26 does fix the issue over here! Thank you @mpoeter and @rjacobskind for this! I hope some fix for these problem will be released soon as a working subscription mechanism seems vital for this project.

[2018-11-16 14:46] rmoorman commented on #22
@samphilipd, I just tried the same with the example application from the Craft GraphQL APIs in Elixir with Absinthe book and it does actually resubscribe.

Could you share an example application that reproduces the error? (with recent versions of the related packages)

[2018-12-08 13:22] namxam opened #32 "Still maintained?"
Sorry for raising this as an issue, but I think this is actually one.

We haven't seen any updates for almost a year. And there are critical bugs which are fixed in form of unmerged pull requests.

I know open source work is difficult, but there are people offering help, but none of the maintainers is responding. It would be great if we could get some kind of feedback.

[2018-12-13 21:30] #12 closed

[2018-12-13 21:30] #13 closed

[2018-12-13 21:30] #15 closed

[2018-12-13 22:31] mgtitimoli commented on #32
https://github.com/absinthe-graphql/absinthe-socket/commit/d4fccc7f2d29d719e2c8d73ac157008da79ae559

[2018-12-13 22:31] #32 closed

[2018-12-13 22:34] mgtitimoli commented on #22
Hey there!

I've just release v0.2.0, this should be working (it should have worked before too), if not, feel free to open the issue with a repo to test.

[2018-12-13 22:34] #22 closed

[2018-12-13 23:55] mgtitimoli commented on #24
Hey there!

I've just released v0.2.0 and I certainly believe this should not be happening right now, if it does, just reopen the issue and I will figure out what's going on.

Thanks!

[2018-12-13 23:55] #24 closed

[2018-12-23 05:32] MortadaAK commented on #10
Based on the https://github.com/phoenixframework/phoenix/blob/473a3cb40aae1ba36c70dfc4841ace2d3aab7471/assets/js/phoenix.js#L733
The params accepts a function. Every time it will establish a connection, it will call this function.
My implementation is
[code]

[2018-12-29 12:01] richeterre commented on #10
@mgtitimoli Has this been addressed in the recent release (v0.2.0)? I couldn't find release notes or a changelog anywhere…

[2018-12-29 17:04] hauleth opened #34 "Make Phoenix peer dependency instead of forcing version in the package itself"
It would allow user to mitigate some problems with dependency like phoenixframework/phoenix#3168. It would also remove need to update package version each time new Phoenix version is released.

[2019-01-09 00:44] southerneer commented on #29
I'm trying to create PR that addresses the problem, but I'm new to rollup, prepack, etc. Any chance we could get some contribution guidelines for this repo?

[2019-01-09 16:18] tlvenn commented on #34
Seems like a good idea

[2019-01-17 15:42] sulliwane commented on #10
could someone confirm that once the websocket channel has been opened (with Authorization header = token AAA), each subsequent request using the websocket link will always be identified as AAA token.

Or is there a way to send a different Authorization header on each request (other than re-opening another ws channel)?

I'd like to understand what's happening on a low level protocol for ws.

Thank

[2019-01-31 04:43] MarbilleJuntado opened #35 "Using native Javascript WebSockets"
Is there a way to use the [WebSocket](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket) object instead of `phoenix.js`'s `Socket` as an argument to `withinAbsintheSocket.create/1`?

[2019-01-31 11:41] benwilson512 commented on #35
If you write your own server websocket handler sure. There wouldn't really be any point in using this library at that point though.

[2019-01-31 11:41] #35 closed

[2019-02-12 00:35] acrogenesis opened #36 "ReferenceError: window is not defined"
When using absinthe-socket in node (without a browser) I get that error:
[code]

If I downgrade to 0.1 it works.

[2019-02-12 02:23] benwilson512 commented on #36
That error comes from within phoenix.js, I don't think it has anything to do with this project specifically.

[2019-02-13 04:50] #36 closed

[2019-02-13 07:08] acrogenesis commented on #36
You are right @benwilson512, for future reference it seems it's getting fixed https://github.com/phoenixframework/phoenix/commit/60fce56798cf074a784988ebedb97d17247e5d68

[2019-02-14 16:15] woeye opened #37 "Please update to Phoenix 1.4.1"
Phoenix has been bumped to 1.4.1 and it fixes an issue with reconnects: https://github.com/phoenixframework/phoenix/issues/3161

Since this effects subscriptions, it would be nice to see a version bump for absinthe-socket, too.

[2019-02-15 14:18] #34 closed

[2019-02-15 14:18] #37 closed

[2019-03-19 19:28] timhwang21 opened #39 "Error maps from the API return as `[object Object]`"
Seems related to #20 and #29. Also related to phoenixframework/phoenix#3323.

It seems like the various `createFooError(errorMessage)`s and the various upstream handlers all expect `errorMessage` to be a string. If my API returns a map instead we get `[object Object]`.

In the other ticket I filed, I post a solution for preprocessing the error message into a string. However, I was wondering if it'

[2019-03-19 20:49] mgtitimoli commented on #39
Message must be string by [spec](https://facebook.github.io/graphql/draft/#sec-Errors).

We could consider adding support to [extensions](https://facebook.github.io/graphql/draft/#example-fce18).

[2019-03-19 20:53] mgtitimoli commented on #39
Duplicate of #29 (Let's follow the discussion there)

[2019-03-19 20:53] #39 closed

[2019-03-19 20:55] mgtitimoli commented on #29
Below is the comment I wrote in #39:

[2019-05-17 15:18] gorkunov commented on #24
seems it still there

[2019-06-24 07:38] xfumihiro opened #41 "upgrade core-js"
warning: core-js@<2.6.8 is no longer maintained. Please, upgrade to core-js@3 or at least to actual version of core-js@2.

[2019-07-05 02:52] oakromulo commented on #10
@richeterre thank you very much for sharing your solution. I ended up with something similar:

[code]

[2019-07-10 21:29] egorvinogradov commented on #6
@rafbgarcia Thank you so much for your example, it turned out to be a lot more helpful than the documentation!

[2019-09-12 10:30] arjan opened #42 "Pending queries not notified on timeout (Apollo)"
It seems that when a query takes longer than 10 seconds, the phoenix channel times out (10s is the [default timeout][timeout] when expecting a response to `.push()`).

When this happens, the query keeps being stuck in the `networkStatus = 1` state (request pending), instead of that an error is pushed up the Apollo link chain.

I tracked it down to the `pushRequestUsing` function, where the [onTime

[2019-11-12 12:29] slorber opened #43 "Provide TS typedefs"
Hi,

It would be convenient for TS users have type definitions shipped with the packages

[2019-11-13 14:41] slorber commented on #10
@richeterre solution is nice. My solution is a bit more advanced and try to support workflows such as disconnecting the socket when user logs out, and reconnect if the user logs in again etc... I actually want no socket to stay alive when user is not logged in.

Here's some generic infrastructure code:

[code]

And some app-specific code to achieve the behavior I want:

[code]

[2020-01-06 10:04] ffloyd commented on #43
Yeah, it'll be so helpful.

So far, only this JS dependencies have no typedefs in my project. And now I'm forced to spend hours to realize how to provide minimal type definitions to make TS compile again.

Maybe I'm missing some easy ways. If so - it will be convenient to have small section in documentation dedicated to TypeScript users.

I'm constantly trying to propagate Elixir/Phoenix to my col

[2020-01-28 22:51] Stanislav-Lapata opened #44 "function createSubscriber not compatible with relay 8.0.0?"
react-relay: **8.0.0**
@absinthe/socket-relay: **0.2.1**

environment.js
[code]
component.js
[code]

[code]
Sorry I'm new to JS
[RelayNetwork](https://github.com/facebook/relay/blob/v8.0.0/packages/relay-runtime/network/RelayNetwork.js#L60) expects a function with 3 arguments?

[2020-02-12 13:51] heydtn commented on #29
I just ran into this error as well, after quite a bit of digging and debugging, I don't think it looks like this should be returning a string at all unless a valid response wasn't even received.  It looks like the logic here affects socket-apollo-link and causes an incompatibility with the API that the apollo-link libraries use.

I discovered this when I attempted to manage errors within my applic

[2020-02-12 20:11] heydtn commented on #29
Just as a side note/update to my previous comment, it looks like apollo-link-http-comon returns an error object with a message and all the relevant data added onto it https://github.com/apollographql/apollo-link/blob/d56fce6f4115dd1d5b304a3593cb69770c971d2b/packages/apollo-link-http-common/src/index.ts#L113.  Perhaps a similar pattern could be used here, which would allow for a message to be provi

[2020-03-27 18:56] slorber commented on #42
Hi,

Do you think this is the same errur as this stacktrace?

[code]

[2020-03-31 01:50] stephan83 commented on #44
You can get it to work with something like this (works with relay 9):

[code]

[2020-05-22 06:09] michaeljguarino opened #48 "Unsubscribe not working"
I've been debugging some issues in one of my apps, and drilled down to the most likely cause being apollo subscription cancels not flushing to the absinthe socket.  To reproduce, I simply called a subscribeToMore for one of my queries and immediately called the cancel callback function after, and observed no unsubscribe event pushed to the socket.

I'm using a newer version of apollo, so this migh

[2020-05-27 11:07] arjan commented on #29
Any update on this ticket? It would be really helpful if this gets fixed one way or another. Willing to help!

[2020-05-31 21:04] redrabbit commented on #44
@stephan83's solution fixed the problem for me (`react-relay@9.1`).

I had a bunch of `TypeError` as follow when using subscriptions with `react-relay` >= `6.0.0`:

[code]

Maybe @absinthe/socket-relay should implement @stephan83's solution or update  `RelayObservable`'s API to work with newer versions.

[2020-06-15 11:18] kurund commented on #43
I am also stuck with typescript errors. Any thoughts about how to get this working with Typescript or any references?

[2020-06-16 13:13] slorber commented on #43
Quick fix:

[code]

It will consider X as any.

[2020-07-07 10:52] bernardo-martinez commented on #48
hey! I think i have the same issue. I'm using ```"@absinthe/socket": { "version": "0.2.1" }```

I'm following the [approach](https://github.com/absinthe-graphql/absinthe-socket/tree/master/packages/socket#toobservable) described on the documentation: creating an Observable, calling `subscribe` on it and afterwards calling `unsubscribe` on the subscription it returns.

I'm doing this on some tests

[2020-07-21 11:39] ademola-raimi commented on #10
Hi guys, all the examples I have seen so far use params to set the token on the client. Is it possible to pass Authorization header to the absinthe/Phoenix framework? I have tried so many things including this:

[code]
I see that it is possible to do this using Websocket link and subscription client [here](https://github.com/apollographql/apollo-client/issues/3967)

[2020-07-21 11:59] ademola-raimi opened #50 "Is it possible to pass Authorization header to Absinthe/Phoenix framework?"
Intended outcome:

I want to pass an authorization header `headers: { authorization: Bearer token } }` to my WS connection

I tried:

[code]
 I also tried:

[code]

This is similar to the issue [here](https://github.com/absinthe-graphql/absinthe-socket/issues/10).

[2020-08-07 05:04] ckruse commented on #41
warning: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.

[2020-08-10 17:17] eisnstein commented on #43
I started to integrate subscriptions in a React/TypeScript app and besides the needed packages I installed the types like this:

`npm install -D @types/absinthe__socket @types/absinthe_socket-apollo-link @types/phoenix`

[2020-08-18 01:43] vadimshvetsov commented on #50
It's impossible because websocket connections are stateless and have no headers.

You can pass your token in params on connect.

[code]

And then hold it inside connection context on a backend side while it is active
[code]

[2020-08-19 05:37] ckruse commented on #41
Is this project dead?

[2020-10-30 13:56] jamestalmage commented on #43
@eisnstein Those typedefs are flawed. In particular, `toObservable` has the wrong return type. The typedef says it returns `withAbsintheSocket.Observer`, but it's actually a `zen-observable.Observable`

[2020-11-11 14:46] benjarwar opened #53 "Is this the preferred Apollo link solution for Absinthe subscriptions?"
We're using Absinthe with subscriptions on our BE, and Apollo Client on our FE application. Wondering if this library includes implementation details specific to Absinthe that makes it preferable over [Apollo's documentation](https://www.apollographql.com/docs/react/data/subscriptions/) and using [apollo-link-ws](https://github.com/apollographql/apollo-link/tree/master/packages/apollo-link-ws).

[2020-11-11 14:50] benwilson512 commented on #53
Hey @benjarwar. The purpose of this library is to wrap `phoenix.js` so that you can use subscriptions with the normal phoenix websocket handler. If you try to use the apollo-link-ws library w/ Phoenix it won't work, because they use different websocket protocols.

There is an Elixir library out there that claims to support the apollo-link-ws protocol you could also look at. The Absinthe core team

[2020-11-11 14:52] benjarwar commented on #53
@benwilson512 thanks for the very prompt reply, and exactly the information we needed! We've been testing `absinthe-socket` and it's working well for us so far. Appreciate the work!

[2020-11-11 20:49] benwilson512 commented on #53
Glad I could help!

[2020-11-11 20:49] #53 closed

[2020-11-12 07:02] tlvenn commented on #53
I am not really sure what you would gain by trying to leverage `apollo-link-ws` to work with Absinthe / phoenix. Apollo link is however super useful and we do support it fully with `@absinthe/socket-apollo-link`.

[2020-11-12 08:24] arjan commented on #53
I think @benwilson512 explains it pretty well. This is a JS package in the the Absinthe project that is currently not maintained (it seems). E.g. to make it work with Apollo 3 requires a bit of monkey-patching currently. I agree that the less JS code in the absinthe project, the better :-)

[2020-11-12 09:17] tlvenn commented on #53
Ya I realized after my comment that quite a few things have changed with Apollo 3 and their integration of Apollo Link ...
@mgtitimoli is actually working on an update of our JS packages which should come out pretty soon as far as I know.
He will likely have a look at both our Relay and Apollo integration at that time.

[2020-11-12 09:24] arjan commented on #53
FWIW, I solved it by creating an `apollo-link.js` file which re-exports the ApolloLink:

[code]

[2020-11-12 18:39] benwilson512 commented on #53
@tlvenn if someone can do a pass on the absinthe-socket library that'd probably be great, but the issue from the perspective of the Absinthe core team is that:

1) Absinthe Socket cannot be kept up to date by anyone on the core team
2) Absinthe Socket requires that we ship dedicated custom versions of GraphiQL that use Absinthe socket.

If we ship a version of `absinthe_phoenix` that supports apol

[2020-12-24 10:12] peaceful-james commented on #50
For posterity: this is also in the docs
https://hexdocs.pm/absinthe/subscriptions.html#setting-options

[2021-02-05 09:31] idkjs opened #54 "Docs"
Are there docs explaining the use case for these packages? For example, when it makes sense to use this.

Thank you for sharing this package.

[2021-03-02 12:32] jesusbotella opened #56 "Observer is not attached to notifier"
Hello everyone!
I'm using `@absinthe/socket-apollo-link` 0.2.1 (with `phoenix` 1.5.7), and this error triggers quite frequently after refreshing socket connections.

In our platform, an active socket connection is closed right after the token expires, we refresh the token, and then reconnect it again.

Seems like whenever a socket connection is closed, `socket-apollo-link` refreshes those observab

[2021-04-10 18:44] #50 closed

[2021-04-30 02:24] alhambra1 opened #57 "Mutation retries indefinitely if server resolver throws an error"
Hi,

Using socket-apollo-link with an Apollo client, if the Absinthe GraphQL resolver on our server throws an error, our client and server seem to get stuck in a cycle where the client action is not aborted but keeps retrying and failing. The raw websocket cycle looks something like:
[code]

How would you recommend handling this on the client? Ideally, the client should have a way to associate a s

[2021-05-01 11:27] ckruse commented on #41
warning @absinthe/socket-apollo-link > @absinthe/socket > core-js@2.6.0: core-js@<3.3 is no longer maintained and not recommended for usage due to the number of issues. Because of the V8 engine whims, feature detection in old core-js versions could cause a slowdown up to 100x even if nothing is polyfilled. Please, upgrade your dependencies to the actual version of core-js.

[2021-05-18 03:42] samantadearaujo commented on #54
I didn't understand your question.

[2021-05-18 11:34] tlvenn commented on #54
If you have a JS client that uses subscriptions, you will need those packages or roll your own. Absinthe is leveraging Phoenix channels to handle subscriptions and as such you need a corresponding client built on top of Phoenix JS channel that follows the convention / protocol used by Absinthe.

[2021-05-19 09:20] Stefano1990 commented on #53
@benwilson512 has the core team decided on apollo-ws? Is this something that is on the roadmap?

Unfortunately, the current state of absinthe-socket means that it can de facto not be used in any new vue3 project (since core-js v2 does not work with webpack 5 i believe?). This in turn would mean that absinthe can not be used by anybody who uses vue3 with apollo, which is the standard for vue (the v

[2021-05-19 19:33] benjarwar commented on #53
@benwilson512 we're also interested in this, as it seems unwise to rely on these unmaintained JS libs. You also previously said:

Mind pointing us to that? Haven't found anything. Thanks in advance!

[2021-06-27 09:18] mwhitworth commented on #53
I think the library in question is [absinthe_graphql_ws](https://github.com/geometerio/absinthe_graphql_ws)

[2021-08-03 00:37] ademola-raimi commented on #48
Does anyone have a solution to this? Apparently, the issue was also discussed [here](https://github.com/absinthe-graphql/absinthe-socket/issues/5), but the solution did not work for me.

[2021-08-25 08:12] Hermanverschooten opened #59 "Uncaught TypeError: Cannot instantiate an arrow function"
When using `parcel v2`, or `esbuild` the generated JS code, causes the above error when calling `AbsintheSocket.create`.

I was after some trial and error able to make it working again for `esbuild` by using `require` instead of `import`.

[code]

This did not work with `parcel` however.

I cloned José Valim's esbuild test repo to replicate the error, https://github.com/Hermanverschooten/phx_esbui

[2021-10-04 08:30] dorian-marchal commented on #29
The spec says:

[2021-11-18 23:21] jakiw opened #60 "createSubscriber throwing an Error"
My code:
[code]
running with relay version 12. I get
[code]
on line 49 of `src/createSubscriber.js`. The compiled code that throws looks like:
[code]

[2021-12-01 19:47] neurodynamic commented on #59
I'm also seeing this issue.

@Hermanverschooten Your `require` fix works for me; thanks for posting it!

[2021-12-21 17:42] AlexandrChebotar commented on #29
It feels like `@absinthe/socket` shouldn't handle response with `error` and should pass it to link as is.

For example, here the errors received by websocket:

![image](https://user-images.githubusercontent.com/44335524/146969938-06b2fc08-d44a-423d-b683-f9134684089e.png)
Due to `apollo` [docs](https://www.apollographql.com/docs/react/api/react/hooks/#result) I expect to see these two errors  error

[2021-12-21 17:50] AlexandrChebotar commented on #57
@alhambra1 if it's still actual, there is how I handle this issue:

[code]

[2022-01-11 09:08] neurodynamic commented on #59
@Hermanverschooten Shot in the dark, but you wouldn't have any idea why using [esbuild's inject feature](https://esbuild.github.io/api/#inject) might cause this bug to come back even if you're using the `require` trick, would you? I'm at a loss.

[2022-01-20 09:44] Hermanverschooten commented on #59
@neurodynamic No I am sorry, no clue. Sorry about the delay, I was traveling. But if you find out, please share.

[2022-03-19 15:04] astroTANSAN commented on #24
This seems to still be an issue

[2022-03-19 15:18] astroTANSAN opened #61 "How can we cancel the retry for connection?"
Related to #24

How can we kill the connection if the connection was refused with `:error`?  or how can we manually kill this on logout?

![image](https://user-images.githubusercontent.com/92072158/159126909-d76070f4-287b-4c7e-8c3d-3940215fa563.png)

[2022-04-06 02:42] #54 closed

[2022-04-28 12:42] matrinox commented on #29
Is there any update on this? I made a [PR](https://github.com/absinthe-graphql/absinthe-socket/pull/62) that aims to at least provide useful error messages. But I agree with @alexandrchebotar that the preferred method is probably for @absinthe/socket to not create a new error object so it can be compatible with other links

I also noticed someone made a helpful commit to @absinthe/socket to add th

[2022-04-29 12:58] arjan commented on #29
I am waiting for a new release for ages now, it seems this repo has become unmaintained..

[2022-04-29 13:16] matrinox commented on #29
@mgtitimoli I'm happy to contribute to this project and create new releases. Is that something your team would be open to?

[2022-04-29 13:18] arjan commented on #29
:+1:  I guess we have to ping the maintainers? @mgtitimoli @tlvenn @bruce

[2022-06-05 23:37] mgtitimoli commented on #29
In the coming days, I will be sending an update that automates the release process, so we can start moving the engines again.

[2022-06-05 23:44] mgtitimoli commented on #29
However regarding to this specific topic, the spec says the message must be [string](https://spec.graphql.org/June2018/#sec-Errors), and there is an extensions field to provide additional context about the error.

![image](https://user-images.githubusercontent.com/4404683/172075444-6556c85f-b968-49a0-ab6b-64be01f1e0b4.png)

![image](https://user-images.githubusercontent.com/4404683/172075498-683a1

[2022-06-05 23:58] mgtitimoli commented on #43
I'm starting the engines again, the idea is to move forward with the following:

1. Automate release process
2. Migrate to TS / Upgrade deps

Once we get here, it will be easier for people to contribute (TS vs Flow, and PR merged => released).

I will close this issue once we have finished the migration to TS, thanks for the patience.

[2022-07-21 12:16] dorian-marchal commented on #29
The spec does say that `message` should be a string, but `errors` should be a list of maps:

This is actually what Absinthe Socket should be returning, something like:
[code]

I don't think we need extensions for that because the received error is already properly formatted by Absinthe.
Absinthe Socket just has to forward the `errors` map as-is, without converting it to a string.
This is how queri

[2022-08-09 03:14] joshsmith commented on #43
Asking not out of impatience (really, open source work is hard and I'm very grateful) but for timing – should someone implementing today wait on this (and be okay without types) vs using a fork with types right now?

[2022-08-24 08:42] tcitworld opened #63 "Remove usage of @jumpn/utils-composite"
It uses an old version of `babel-runtime` which can't be used with Node ESM.

Reference https://github.com/histoire-dev/histoire/issues/204

[2022-09-08 15:12] lastmeta opened #64 "unable to connect to absinthe API from python ws client."
I want to use graphql ws subscriptions in a project I'm working on. My python client can't connect to my phx graphql absinthe websocket api. I'm actually just followed the pragmatic studios tutorial to create a graphql server, and in that tutorial they then use apollo in react to make a JS client that connects to it. I want to use a python client instead, so I made a simple one:

[code]

This clie

[2022-09-10 13:12] maartenvanvliet commented on #64
Could you show some of the phoenix backend code? Right now you connect to `/graphql`. Is that where your socket is mounted? The phoenix socket supports two transports, so note that the websocket transport is by default under `/socket/websocket/`.

A second issue is that the Absinthe.Phoenix backend is built on top of Phoenix channels. There's a [Python client ](https://github.com/supabase-communit

[2022-09-13 12:15] lastmeta commented on #64
I'm not sure what would be most useful, here's the router for graphiql
[code]

the graphiQL website says the ws url is `ws://localhost:4000/user_socket` but when I attempt that from my python client I actually get a 404

[2022-09-13 12:30] arjan commented on #64
Looking at the [server code](https://github.com/lastmeta/Satori/blob/main/server/satori/lib/satori_web/endpoint.ex#L14) and the [python example](https://github.com/lastmeta/Satori/blob/main/server/satori/lib/satori_web/endpoint.ex#L14), I think in your case the URL you should provide is `ws://localhost:4000/user_socket/websocket`.

[2022-09-13 12:54] lastmeta commented on #64
of course, that takes care of it! thanks!

[2022-09-13 12:54] #64 closed

[2022-10-31 15:43] ivanAlfonsoVillaVazquez opened #65 "Compile errors with react-scripts 5.0.1"
Hi,

After updating to react-scripts `5.0.1` I had a brunch of erros like these:

[code]

I think that this errors are related to thee new version of Webpack.

[2022-11-10 18:10] DavidSpek commented on #43
I'm just looking into setting up [semantic release](https://github.com/semantic-release/semantic-release) for a forked version we have of this repo and was also thinking it might make sense to migrate to typescript. Using semantic release alongside [Renovate](https://github.com/apps/renovate) should make it pretty low maintenance to keep it up to date.

@mgtitimoli Would you be open to a contribut

[2022-11-11 07:05] Hermanverschooten commented on #59
I gave up on `Parcel` long time ago and since moving to the `esbuild` hex package and using the `require` solution I have had no more issues.

[2022-11-11 07:05] #59 closed

[2022-11-30 22:24] kyleboe opened #66 "Continued Maintenance"
I fully acknowledge that the last few years have been a roller coaster so I bring this up with all the empathy I can. There are several valuable PRs that have been opened over the last couple years without much input from those currently maintaining this repo. I would be happy to help with maintenance if the need is there. Ultimately, I want to do my part to ensure that the OSS on which I depend d